/* page.css */

body {
    background-color: black; /* ページ全体の背景色を黒に設定 */
    color: white; /* ページ全体の文字色を白に設定 */
}

.page-content {
    display: flex; /* コンテンツをフレックスボックスとして配置 */
    flex-direction: column; /* 子要素を縦方向に並べる */
    align-items: center; /* 子要素を中央に配置 */
    padding: 20px; /* コンテンツと枠線の間に20pxの余白を設定 */
}

h1 {
    margin-top: 0; /* h1要素の上部のマージンをリセット */
}

.post-button {
    align-self: flex-end; /* 右上に配置 */
    border: 2px solid white; /* 枠の色を白に設定 */
    padding: 10px; /* ボタンの内側の余白を設定 */
}

.unit-post-container {
    border: 2px solid white; /* 枠の色を白に設定 */
    padding: 10px;
    padding-top: 40px;
    margin-bottom: 5px; /* 各投稿の下に余白を設定 */
    margin-top:20px;
    width: 900px; /* 枠の幅を200pxに設定 */
    height: 300px; /* 枠の高さを100pxに設定 */
    display: flex; /* 子要素をフレックスボックスとして配置 */
    justify-content: space-between; /* 子要素を均等に配置 */
    flex-direction: row; /* 子要素を横並びに配置 */
    box-sizing: border-box; /* 枠線とパディングをwidthとheightに含める */
}


.unit-post-container div {
    color: white; /* user_uidの文字色を白に設定 */
}


.post-list {
    display: flex; /* 子要素をフレックスボックスとして配置 */
    flex-wrap: wrap; /* 投稿を横に並べ、折り返す */
    justify-content: center; /* 子要素を中央に配置 */
}
